.container {
    display: flex;
    /* Make contaner a flexbox */
    flex-flow: row wrap;
    /* Layout the rows and wrap them */
    margin-right: auto;
    margin-left: auto;
    max-width: 1050px;
}

.box {
    flex: 1;
    /* Make contents controllable with flexbox */
    flex-flow: column;
    max-width: 240px;
    margin: 10px;
    padding: 20px;
    background-color: #000;
}